# PyCharm specific files/folders to ignore
.idea/
*.iml
./学習環境構築の説明書.pdf
*/*.pyc
./nanotonak.py
*./__pycache__/
__pycache__/make_dataset.cpython-311.pyc
models/__pycache__/ConvTasNet_models.cpython-311.pyc
models/__pycache__/New_MultiChannel_ConvTasNet_models.cpython-311.pyc
mymodule/__pycache__/__init__.cpython-311.pyc
